<div class="container">
  <div class="col-12">
    Longitude interval min/max [{{ MIN_LONGITUDE }} to {{ MAX_LONGITUDE }}]
  </div>
  <div class="col-12">
    Latitude interval min/max [{{ MIN_LATITUDE }} to {{ MAX_LATITUDE }}]
  </div>
  <form [formGroup]="form" (submit)="submit()" class="row pt-5">
    <div formGroupName="centerOfRadius" class="row no-gutters">
      <div class="col-12">Center of radius</div>
      <div class="col-md-6 mt-0">
        <input
          [min]="MIN_LONGITUDE"
          [max]="MAX_LONGITUDE"
          formControlName="lon"
          type="number"
          class="form-control"
          placeholder="Longitude "
        />
        <div
          *ngIf="
            form.get('centerOfRadius.lon')?.invalid &&
            form.get('centerOfRadius.lon')?.touched
          "
          class="invalid-feedback d-block"
        >
          Please provide a correct position
        </div>
      </div>
      <div class="col-md-6 mt-0">
        <input
          [min]="MIN_LATITUDE"
          [max]="MAX_LATITUDE"
          formControlName="lat"
          type="number"
          class="form-control"
          placeholder="Latitude"
        />
        <div
          *ngIf="
            form.get('centerOfRadius.lat')?.invalid &&
            form.get('centerOfRadius.lat')?.touched
          "
          class="invalid-feedback d-block"
        >
          Please provide a correct position
        </div>
      </div>
    </div>

    <div formGroupName="borderOfRadius" class="row no-gutters">
      <div class="col-12">Border of radius</div>
      <div class="col-md-6 mt-0">
        <input
          [min]="MIN_LONGITUDE"
          [max]="MAX_LONGITUDE"
          formControlName="lon"
          type="number"
          class="form-control"
          placeholder="Longitude"
        />
        <div
          *ngIf="
            form.get('borderOfRadius.lon')?.invalid &&
            form.get('borderOfRadius.lon')?.touched
          "
          class="invalid-feedback d-block"
        >
          Please provide a correct position
        </div>
      </div>
      <div class="col-md-6 mt-0">
        <input
          [min]="MIN_LATITUDE"
          [max]="MAX_LATITUDE"
          formControlName="lat"
          type="number"
          class="form-control"
          placeholder="Latitude"
        />
        <div
          *ngIf="
            form.get('borderOfRadius.lat')?.invalid &&
            form.get('borderOfRadius.lat')?.touched
          "
          class="invalid-feedback d-block"
        >
          Please provide a correct position
        </div>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-12">Locations</div>
      <div class="col-md-12 mt-0">
        <input
          formControlName="file"
          (change)="onFileSelect($event.target)"
          class="form-control"
          type="file"
          id="formFile"
        />
      </div>
      <span></span>
    </div>

    <div class="col-12 justify-content-center mt-2">
      <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
        Search
      </button>

      <button (click)="stopWorker()" type="button" class="btn btn-primary ms-2">
        Stop calculation
      </button>

      <div class="mt-2" *ngIf="isFinite(calculatedRadius)">
        <p>Calculated Radius = {{ calculatedRadius.toFixed(3) }}km</p>
      </div>
      <ng-container *ngIf="results.length">
        <p>Number of location = {{ results.length }}</p>
        <p>Number of location in the radius = {{ matchedCount }}</p>
      </ng-container>

      <div *ngIf="progress" class="progress mt-2">
        <div
          class="progress-bar"
          role="progressbar"
          [style.width.%]="progress"
          [attr.aria-valuenow]="progress"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          {{ progress }}%
        </div>
      </div>

      <ng-container *ngIf="results?.length">
        <p>Results</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Lat</th>
              <th scope="col">Lon</th>
              <th scope="col">
                distance from the center of the circle to the point (km)
              </th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
            <tr
              [class.table-success]="result.matched"
              *ngFor="let result of results"
            >
              <td>{{ result.lat }}</td>
              <td>{{ result.lon }}</td>
              <td>{{ result.distanceInKm.toFixed(3) }}</td>
              <td>{{ result.matched }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
